// %button{
// @extend %button;
// }
.hero__btn {
    @extend %buttons;
    display: inline-block;
    padding: 10px 32px;
    text-align: center;
    font-family: inherit;
}
// lh, ls,fs,fw,col,bgc,cur,br,bor
.form__btn {
    @extend %buttons;
    width: 200px;
    display: inline-flex;
    padding: 10px 28px;
    margin-left: 12px;
    align-items: center;
    justify-content: center; 
}
.portfolio-btn {
    &__item:not(:first-child) {
        margin-left: 8px;
    }

    display: flex;
    width: 575px;
    margin: 0 auto 50px;
}
.portfolio__button {
    display: inline-block;
    transition: background-color 250ms var(--cubiq), color 250ms var(--cubiq);
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    font-family: inherit;
    border: 0 solid transparent;
    border-radius: 4px;
    background-color: var(--section-background);

    &:hover,
    &:focus {
        color: var(--white-color);
        background-color: var(--akcent-color);
    }
}