.properties__title,
.work-list__text,
.toadd-title,
.folowme__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.14;
}